@font-face {
    font-family: 'FiraGO';
    src: url('../assets/fonts/firago-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url('../assets/fonts/firago-latin-500-normal.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url('../assets/fonts/firago-latin-700-normal.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --White: #ffffff;
    --Very-light-gray: #DBDBDB;
    --Dark-moderate-lime-green: #45A849;
    --Hover-vivid-red: #DF3014;
    --Vivid-red: #F93B1D;
    --Very-dark-mostly-black-blue: #021526;
    --Very-dark2-mostly-black-blue: #1A1A1F;
    --Dark-grayish-blue: #808a93;
    --Very-dark-desaturated-blue: #2d3648;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden;  */
}

.wrapper {
    font-family: 'FiraGO';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 1080px; 
    max-width: 100vw; 
    max-height: 100vh;
    /* overflow: hidden; */
    background-color: var(--White);
}

.header {
    width: 100%; 
}

.logo-container {
    padding: 38px 162px;
    margin-bottom: 77px; 
    border: 1px solid var(--Very-light-gray);
}

.logo {
    max-width: 100%; 
}